In [2]:
import pandas as pd

C:\Users\Pepinot\AppData\Local\Temp\ipykernel_2820\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

*Vamos a comenzar abriendo todos los datasets que contienen informacion de los **Totales** del pais, con la intencion de unificarlo en un solo dataset.*

In [3]:
df1 = pd.read_csv(r'C:\Users\Pepinot\Documents\Henry\Modulos\PROYECTO INDIVIDUAL 2\EDA_Totales\Ingresos .csv')  # Año Trimestre Ingresos (miles de pesos) Periodo
df2 = pd.read_csv(r'C:\Users\Pepinot\Documents\Henry\Modulos\PROYECTO INDIVIDUAL 2\EDA_Totales\Penetracion-totales.csv')  # Año Trimestre Accesos por cada 100 hogares, Accesos por cada 100 habitantes
df3 = pd.read_csv(r'C:\Users\Pepinot\Documents\Henry\Modulos\PROYECTO INDIVIDUAL 2\EDA_Totales\Totales Accesos Por Tecnología.csv')  # Año Trimestre ASDL, Cablemodem, Fibra óptica, Wireless, Otros, Total, Periodo
df4 = pd.read_csv(r'C:\Users\Pepinot\Documents\Henry\Modulos\PROYECTO INDIVIDUAL 2\EDA_Totales\Totales Accesos por velocidad.csv')  # Año Trimestre Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total

----------------------------------------------------------------------
**Limpieza y normalización**

Vamos a realizar el mismo trabajo de limpieza y normalizacion que hicimos para los datasets de Provincia. El objetivo es nuevamente unificar toda la informacion en un  solo dataset.

In [4]:
#Verificamos que los nombres de las columnas esten estandarizados
df1.columns

Index(['Año', ' Trimestre ', 'Ingresos (miles de pesos)', ' Periodo '], dtype='object')

In [5]:
#Si tienen espacios, los quitamos

df1.columns = df1.columns.str.strip()

In [6]:
df3.columns

Index(['Año', ' Trimestre ', ' ADSL ', ' Cablemodem ', ' Fibra óptica ',
       ' Wireless ', ' Otros ', ' Total ', ' Periodo '],
      dtype='object')

In [7]:
df3.columns = df3.columns.str.strip()

In [8]:
#Verificamos que las los tipos de variables dentro de las columnas, a partir de las cuales vamos a unir los datasets, coincidan

for i, df in enumerate([df1, df2, df3, df4], 1):
    print(f"DataFrame {i}:")
    print(df[['Año', 'Trimestre']].dtypes)
    print("\n")

DataFrame 1:
Año          int64
Trimestre    int64
dtype: object


DataFrame 2:
Año          int64
Trimestre    int64
dtype: object


DataFrame 3:
Año          int64
Trimestre    int64
dtype: object


DataFrame 4:
Año          int64
Trimestre    int64
dtype: object

----------------------------------------------------------------------
*Normalizacion de DataFrame 'Ingresos.csv'*

In [9]:
#Vamos a cambiar el nombre de la columna 'Ingresos (miles de pesos)' por simplemente 'Ingresos' para que sea mas practico a la hora de trabajar

df1= df1.rename(columns={'Ingresos (miles de pesos)': 'Ingresos'})

In [10]:
#Verificamos que tipo de dato son las filas de la columna 'Ingresos' y nos encontramos con que es un string

set(df1['Ingresos'].apply(type))

{str}

In [11]:
#Cuando queremos pasar a flotantes nos encontramos con problemas de espacios, puntos y comas que imposibiitan las transformaciones

df1['Ingresos'] = df1['Ingresos'].str.replace('.', '', regex=False)  #Eliminamos los puntos
df1['Ingresos'] = df1['Ingresos'].str.replace(',', '.', regex=False)  #Reemplazamos la coma por un punto decimal
df1['Ingresos'] = df1['Ingresos'].str.strip()  #Eliminamos los espacios en blanco al inicio y al final
df1['Ingresos'] = df1['Ingresos'].astype(float)  #Finalmente convertimos a float

In [12]:
#En la columna 'Año' vemos que hay un valor erroneo '2033'. Lo cambiamos por 2023 ya que coincide con el periodo marcado 'Ene-Mar 2023'

df1.loc[df1['Año'] == 2033, 'Año'] = 2023

----------------------------------------------------------------------
*Normalizacion de DataFrame 'Penetracion-totales.csv'*

In [13]:
#Verificamos que tipos de datos hay en la columna 'Accesos por cada 100 hogares'
set(df2['Accesos por cada 100 hogares'].apply(type))

{str}

In [14]:
#Verificamos que tipos de datos hay en la columna 'Accesos por cada 100 hab'
set(df2['Accesos por cada 100 hab'].apply(type))

{str}

In [15]:
#Los modificamos a float

columnas = ['Accesos por cada 100 hogares', 'Accesos por cada 100 hab']

for col in columnas:
    df2[col] = df2[col].str.replace(',', '.', regex=False)  
    df2[col] = df2[col].astype(float)

----------------------------------------------------------------------
*Normalizacion de DataFrame 'Totales Accesos Por Tecnologia.csv'*

In [16]:
df3.columns = df3.columns.str.strip()

In [17]:
#Pasamos toda la columna 'Trimestre' a str para quitarle espacios al principio y al final

df3['Trimestre'] = df3['Trimestre'].astype(str)

In [18]:
#Quitamos los espacios

df3['Trimestre'] = df3['Trimestre'].str.strip()

In [19]:
#Volvemos a pasar a int

df3['Trimestre'] = df3['Trimestre'].astype('Int64')

In [20]:
#Verificamos el tipo de dato de las columnas 

print(df3[['ADSL', 'Cablemodem', 'Fibra óptica','Wireless','Otros','Total']].dtypes)

ADSL             object
Cablemodem       object
Fibra óptica     object
Wireless        float64
Otros           float64
Total            object
dtype: object

In [21]:
#Cambiamos a float las columnas 'ADSL', 'Cablemodem','Fibra óptica' y 'Total'"Ingresos .csv"

columnas = ['ADSL', 'Cablemodem', 'Fibra óptica','Total']

for col in columnas:
    df3[col] = df3[col].str.replace('.', '', regex=False)  
    df3[col] = df3[col].str.replace(',', '.', regex=False)  
    df3[col] = df3[col].str.strip()  
    df3[col] = df3[col].astype(float)

----------------------------------------------------------------------
*Modificación en todos los DataFrames*

In [22]:
#Ordenamos toda la informacion por la columna 'Año' de forma descendente

for df in [df1, df2, df3, df4]:
    df = df.sort_values(by='Año', ascending=False)

In [23]:
#Filtramos toda la informacion a partir del 2019

df1=df1[df1['Año'] >= 2019]
df2=df2[df2['Año'] >= 2019]
df3=df3[df3['Año'] >= 2019]
df4=df4[df4['Año'] >= 2019]

In [24]:
#Vamos a eliminar la columna 'Periodo' de los dataframes porque es und dato ya aportado por la columna 'Trimestre'
dataframes = [df1, df2, df3]

for df in dataframes:
    if 'Periodo' in df.columns:
        df.drop(columns='Periodo', inplace=True)

----------------------------------------------------------------------
*Unificación de los datasets*

In [25]:
#Unificamos todos los DataFrames en uno solo, uniendo por las columnas 'Año' y 'Trimestre'

df_unificado = df1.merge(df2, on=['Año', 'Trimestre'], how='outer')
df_unificado = df_unificado.merge(df3, on=['Año', 'Trimestre'], how='outer')
df_unificado = df_unificado.merge(df4, on=['Año', 'Trimestre'], how='outer')

In [26]:
#Revisamos que las columnas hayan quedado adecuadas
df_unificado.columns

Index(['Año', 'Trimestre', 'Ingresos', 'Accesos por cada 100 hogares',
       'Accesos por cada 100 hab', 'ADSL', 'Cablemodem', 'Fibra óptica',
       'Wireless', 'Otros', 'Total_x', 'Hasta 512 kbps',
       'Entre 512 Kbps y 1 Mbps', 'Entre 1 Mbps y 6 Mbps',
       'Entre 6 Mbps y 10 Mbps', 'Entre 10 Mbps y 20 Mbps',
       'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps', 'OTROS', 'Total_y'],
      dtype='object')

In [27]:
#Modificamos el nombre de algunas columnas para que sea comprensiva la informacion

df_unificado= df_unificado.rename(columns={'Otros': 'Otros accesos'})

In [28]:
df_unificado= df_unificado.rename(columns={'OTROS': 'Otras velocidades'})

In [29]:
#Cambiar nombre de 'Total_x'

df_unificado= df_unificado.rename(columns={'Total_x': 'Total accesos'})

In [30]:
#Cambiar nombre de 'Total_y'

df_unificado= df_unificado.rename(columns={'Total_y': 'Total velocidades'})

In [31]:
#Verificamos que tipo de datos se encuentra en cada columna

print(df_unificado[['Año', 'Trimestre', 'Ingresos', 'Accesos por cada 100 hogares',
       'Accesos por cada 100 hab', 'ADSL', 'Cablemodem', 'Fibra óptica',
       'Wireless', 'Otros accesos', 'Total accesos', 'Hasta 512 kbps',
       'Entre 512 Kbps y 1 Mbps', 'Entre 1 Mbps y 6 Mbps',
       'Entre 6 Mbps y 10 Mbps', 'Entre 10 Mbps y 20 Mbps',
       'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps', 'Otras velocidades',
       'Total velocidades']].dtypes)

Año                               int64
Trimestre                         int64
Ingresos                        float64
Accesos por cada 100 hogares    float64
Accesos por cada 100 hab        float64
ADSL                            float64
Cablemodem                      float64
Fibra óptica                    float64
Wireless                        float64
Otros accesos                   float64
Total accesos                   float64
Hasta 512 kbps                  float64
Entre 512 Kbps y 1 Mbps         float64
Entre 1 Mbps y 6 Mbps            object
Entre 6 Mbps y 10 Mbps           object
Entre 10 Mbps y 20 Mbps          object
Entre 20 Mbps y 30 Mbps          object
Más de 30 Mbps                   object
Otras velocidades               float64
Total velocidades                object
dtype: object

In [32]:
#Cambiamos el tipo de dato de las siguientes velocidades
columnas_a_procesar = ['Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps', 'Entre 10 Mbps y 20 Mbps','Entre 20 Mbps y 30 Mbps','Más de 30 Mbps','Total velocidades']

In [33]:
#Reemplazamos los puntos y convertimos a float para cada columna en la lista
for columna in columnas_a_procesar:
    df_unificado[columna] = df_unificado[columna].str.replace('.', '', regex=False).astype(float)

In [34]:
#Pasamos el DataFrame unificado a un archivo csv

#df_unificado.to_csv('Pais.csv', index=False)

df_unificado.to_excel('Pais.xlsx', index=False)

----------------------------------------------------------------------
----------------------------------------------------------------------